/* styles for centering cell headers */
.center span[class*="MUIDataTableHeadCell"] {
  justify-content: center;
}
.center
  span[class*="MUIDataTableHeadCell"]
  button[class*="MuiButtonBase-root"] {
  margin: 0;
}
.center > div {
  text-align: center;
}
